# Ignorer les fichiers macOS inutiles
.DS_Store

# Ignorer fichiers de travail
/voix/index-save.html
/voix/audios/readme.md
/voix/audios/generateAudioList.js
/voix/audios/normalize.js
/voix/audios/Terminal
/.vscode

# Ignorer WIP
/livres/mmem/plus/
/livres/sslq/plus/
/dessins/carnets/REF/
/dessins/carnets/concerts/
/reves/