.categories h3 {
    margin: 30px 0 20px 0;
}

/* Grille flexible */
.categories-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 33px;
    justify-content: flex-start;
}

/* 1 élément */
.category-item {
    width: calc(25% - 25px);
    text-align: center;   
    text-decoration: none;
    color: #000;
    font-family: "Raleway", "Arial", "Helvetica", sans-serif;
}

.category-item span {
    display: block;
    transition: opacity 0.3s ease;
}

.category-thumb {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease; /* ← zoom sur le cadre */
    margin-bottom: 8px;
}

.category-thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.category-item:hover .category-thumb {
    transform: scale(1.05); /* ← zoom global */
}

.category-item:hover span {
    opacity: 0.6;
}

.dessins-titre {
    font-weight: 500;
    font-size: 1.02rem;
}

.dessins-date {
    font-weight: 400;
    font-size: 0.92rem;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .categories-grid {
        gap: 30px;
    }
    .category-item {
        width: calc(33.333% - 20px);
    }
}

@media (max-width: 600px) {
    .categories-grid {
        justify-content: center;
    }
    .category-item {
        width: calc(50% - 30px);
    }
    .categories h3 {
        margin: 30px 0 20px 14px;
    }
}